@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
#widget-1bit  * {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all ease 50ms;
	font-weight: 400;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 16px;
	color: #000;
}
#widget-1bit p {
	margin-top: 0!important;
}
#widget-1bit  .bit_container {
	width: 1000px;
	margin: auto;
}
#widget-1bit  .bit_screen {
	margin: 10px auto;
	padding: 20px 0;
}
#widget-1bit  .bit_shadow {
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	border-radius: 3px;
}

/* text */

#widget-1bit  .bit_text {
	font-size: 1rem;
}

/* title */

#widget-1bit  .bit_title {
	font-size: 1.4rem;
}
#widget-1bit  .bit_title_second {
	font-size: 1.2rem;
}
#widget-1bit  .bit_title_text {
	font-size: 1rem;
}

/* input */

#widget-1bit  .bit_input-container_checkbox {
	display: flex;
	flex-direction: row-reverse;
	/* align-items: center; */
	justify-content: flex-end;
}
#widget-1bit  .bit_input-container_checkbox .bit_input__header {
	margin-bottom: 0;
	margin-left: 20px!important;
	flex-direction: column;
	margin-top: 0;
}
#widget-1bit  .bit_input {
	height: 40px;
	border: 1px solid #BECCD2;
	width: 100%;
	min-width: 300px;
	padding: 0 10px;
	user-select: none;
	font-family: 'Open Sans';
	font-size: 1rem;
	font-weight: 300;
	user-select: auto;
}
#widget-1bit  .bit_input_checkbox {
	width: 20px;
	min-width: auto;
	height: 20px;
	cursor: pointer;
	user-select: auto;
}
#widget-1bit  .bit_input__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px!important;
	font-size: 0.9rem;
}
#widget-1bit  .bit_input__label {
	flex-shrink: 0;
	user-select: auto;
}
#widget-1bit  .bit_input_error {
	border: 1px solid #ED3F3F;
}
#widget-1bit  .bit_input__error {
	color: #ED3F3F;
	text-align: right;
}
#widget-1bit  .bit_input:focus {
	border: 1px solid #CDA379;
	outline: none;
}

/* btn */

#widget-1bit  .bit_btn {
	background-color: #fff;
	color: black;
	height: 40px;
	min-width: 200px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Open Sans';
	cursor: pointer;
	border: 1px solid #000;
	user-select: none;
}
#widget-1bit  .bit_btn:hover {
	color: white;
	background-color: #CDA379;
	border: 1px solid #CDA379;
}
#widget-1bit   .bit_btn .bit_loader {
	margin: 0 auto;
	width: 30px;
}

/* loader */

#widget-1bit  .bit_loader {
	display: block;
	margin: 50px auto;
	width: 40px;
}

/* select */

#widget-1bit  .bit_select-container {
	width: 100%;
	max-width: 500px;
	min-width: 100px;
	height: 40px;
	position: relative;
}
#widget-1bit  .bit_select {
	border: 1px solid #BECCD2;
    z-index: 1;
	width: 100%;
	user-select: none;
}
#widget-1bit  .bit_select_open {
	position: absolute;
	z-index: 2;
}
#widget-1bit  .bit_select__label {
	font-size: 0.9rem;
	margin-bottom: 10px;
}
#widget-1bit  .bit_select__text {
	padding: 0 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	font-size: 0.9rem;
	background-color: #fff;
}
#widget-1bit  .bit_select__title {
	margin-top: 0;
}
#widget-1bit  .bit_select__text:hover {
	background-color: #E7EAED;
}
#widget-1bit  .bit_select_open .bit_select__header {
	border-bottom: 1px solid #E7EAED;
}
#widget-1bit  .bit_select__selector {
	width: 20px;
} 
#widget-1bit  .bit_select__list {
    list-style: none;
    overflow: auto;
    height: 0;
    max-height: 300px;
    padding: 0;
}
#widget-1bit  .bit_select_open .bit_select__list {
    height: auto;
}
#widget-1bit  .bit_select__list-item {
    cursor: pointer;
    height: 40px;
    user-select: none;
}

/* list */

#widget-1bit  .bit_list {
	list-style: none;
	max-height: 60vh;
	overflow-y: auto;
	padding: 20px;
}
#widget-1bit  .bit_list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 5px 10px;
	user-select: none;
	border: 1px solid #E7EAED;
	border-radius: 3px;
	cursor: pointer;
	background-color: #fff;
	line-height: 22px;
	color: #000;
	text-decoration: none;
}
#widget-1bit  .bit_list__item:hover {
	background-color: #E7EAED;
	border: 1px solid #E7EAED;
	color: black;
}
#widget-1bit  .bit_list__item_active {
	background-color: #CDA379;
	border: 1px solid #CDA379;
	color: white;
}
#widget-1bit  .bit_list__item_active:hover  {
	background-color: #CDA379;
	border: 1px solid #CDA379;
	color: white;
}
#widget-1bit  .bit_list__item-des {
	font-size: 0.8rem;
	color: grey;
	margin-left: 10px;
}
#widget-1bit  .bit_list__item_active  .bit_list__item-des {
	color: #ffffff90;
}
#widget-1bit  .bit_list__item-name {
	font-weight: 400;
}
#widget-1bit  .bit_list__item_active .bit_list__item-name {
	color: white;
}
#widget-1bit  .bit_list__item-conditions {
	margin-top: 5px!important;
	font-size: 0.9rem;
}
#widget-1bit .bit_list__item-cost {
	margin-right: 20px;
	color: grey;
}
#widget-1bit .bit_list__item_active .bit_list__item-cost {
	color: #ffffff90;
}
#widget-1bit  .bit_list__item-time {
	color: grey;
}
#widget-1bit  .bit_list__item-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}
#widget-1bit  .bit_list__item_active .bit_list__item-time {
	color: #ffffff90;
}
#widget-1bit  .bit_list__item_active .bit_list__item-img {
	fill: #fff;
}
#widget-1bit  .bit_list__item_spec {
	display: flex;
	align-items: center;
}
#widget-1bit  .bit_list a {
	color: #000;
	text-decoration: none;
}
#widget-1bit  .bit_list .bit_list__item {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 0;
}
#widget-1bit  .bit_list__item_back {
	justify-content: flex-start;
	width: 100px;
	margin-top: 20px;
}

#widget-1bit  .bit_list__arrow {
	width: 20px;
	transform: rotate(-90deg);
}
#widget-1bit  .bit_list__item_back .bit_list__arrow {
	transform: rotate(90deg);
	margin-right: 10px;
	vertical-align: middle;
}

/* widget */

#widget-1bit  .bit_widget {
	transition: all ease 0.3s;
	transform: translate(0px,-1px);
	z-index: 100000;
}
#widget-1bit  .bit_widget_open {
	border-radius: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	right: 0;
	bottom: 0;
	padding-bottom: 20px;
	background-color: #fff;
}

/* header */

#widget-1bit  .bit_header-container {
	padding: 20px 0;
	padding-bottom: 10px;
}
#widget-1bit  .bit_header {
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	align-items: center;
	position: static;
	box-shadow: none;
	background: #fff;
}
#widget-1bit  .bit_header-container::after {
	content: '';
	height: 2px;
	display: block;
	width: 200px;
	background-color: #CDA379;
	margin-top: 10px;
	z-index: 1;
}
#widget-1bit  .bit_header__exit {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	justify-self: end;
}
#widget-1bit  .bit_header__exit:hover {
	background-color: #E7EAED;
}
#widget-1bit  .bit_header__exit-logo {
	width: 15px;
	object-fit: cover;
}
#widget-1bit  .bit_header__select {
	width: 300px;
}

/* bread */

#widget-1bit  .bit_bread {
	margin-bottom: 40px;
}
#widget-1bit  .bit_bread__item {
	font-size: 0.8rem;
	text-decoration: none;
	color: #7f8385;
}
#widget-1bit  .bit_bread__item_active {
	font-weight: 400;
	color: #000;
}


/* toggler */

#widget-1bit  .bit_widget-toggler {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
	color: white;
	text-decoration: none;
	background-color: #D2D4D7;
}

/* form */

#widget-1bit  .bit_form .bit_btn {
	margin-right: 20px;
}
#widget-1bit  .bit_form .bit_btn:last-child {
	margin-right: 0;
}

/* script */

#widget-1bit  .bit_script__list {
	display: flex;
	align-items: center;
	padding: 50px 0;
}
#widget-1bit  .bit_script__item {
	width: 300px;
	margin-right: 20px;
	text-align: center;
	padding: 20px;
	cursor: pointer;
	border: 1px solid #fff;
}
#widget-1bit  .bit_script__item:last-child {
	margin-right: 0;
}
#widget-1bit  .bit_script__logo {
	width: 100px;
	height: 200px;
}
#widget-1bit  .bit_script__item:hover, #widget-1bit  .bit_script__item_active {
	box-shadow: 0px 4px 8px 4px rgba(34, 60, 80, 0.3);
	border: 1px solid #E7EAED;
}
#widget-1bit  .bit_script__item:hover .bit_script__logo, #widget-1bit  .bit_script__item_active .bit_script__logo {
	fill: #CDA379;
}
#widget-1bit  .bit_error {
	color: #ED3F3F;
	margin-top: 20px;
}
#widget-1bit  .bit_script__list a {
	text-decoration: none;
	color: #000;
}

/* block */

#widget-1bit  .bit_block {
	padding-top: 50px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 40px;
	min-height: 40vh;
}
/* .bit_block .bit_list {
	max-height: 50vh;
} */
#widget-1bit  .bit_block__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* search */

#widget-1bit  .bit_search-container {
	height: 40px;
	width: 50%;
	position: relative;
}
#widget-1bit  .bit_search__header {
	display: flex;
	align-items: center;
	position: relative;
}
#widget-1bit  .bit_search {
	padding-left: 35px;
	font-size: 1rem;
	width: 100%;
}
#widget-1bit  .bit_search::placeholder {
	font-size: 1rem;
	font-family: 'Open Sans';
}
#widget-1bit  .bit_search__icon {
	width: 20px;
	position: absolute;
	left: 10px;
	user-select: none;
	pointer-events: none;
}
#widget-1bit  .bit_search__icon_exit {
	width: 15px;
	right: 10px;
	position: absolute;
	cursor: pointer;
}
#widget-1bit  .bit_search__list {
	position: absolute;
	list-style: none;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	max-height: 500px;
	overflow-y: auto;
}
#widget-1bit  .bit_search__list-item {
	padding: 10px;
	border-bottom: 1px solid #BECCD2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#widget-1bit  .bit_search__list-item:hover {
	background-color: #E7EAED;
	cursor: pointer;
}
#widget-1bit  .bit_block_service {
	grid-template-columns: 2fr 1fr;
}

/* specialist */

#widget-1bit  .bit_specialist {
	grid-template-columns: 2fr 1fr;
}
#widget-1bit  .bit_specialist__more {
	padding: 20px;
}
#widget-1bit  .bit_specialist__img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}
#widget-1bit  .bit_specialist__name {
	margin-left: 20px;
}
#widget-1bit  .bit_specialist__list {
	list-style: none;
	max-height: 220px;
	overflow-y: auto;
}
#widget-1bit  .bit_specialist__text {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	font-weight: 400;
}
#widget-1bit  .bit_specialist__list-item {
	line-height: 22px;
	padding: 5px 0;
	border-bottom: 1px solid #BECCD2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#widget-1bit  .bit_specialist__services {
	margin-top: 20px;
}
#widget-1bit  .bit_specialist__services_script-2 {
	margin-top: 30px;
}

/* calendar */

#widget-1bit  .bit_calendar__grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 5px;
}
#widget-1bit  .bit_block_calendar {
	grid-template-columns: 1fr 1fr;
	align-items: start;
}
#widget-1bit  .bit_calendar__days {
	margin-bottom: 20px;
}
#widget-1bit  .bit_block__calendar-item {
	padding: 20px;
	text-align: center;
	user-select: none;
}
#widget-1bit  .bit_calendar__item {
	padding: 5px;
	text-align: center;
	border: 1px solid #BECCD2;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
}
#widget-1bit  .bit_calendar__item:hover, #widget-1bit .bit_calendar__item_active {
	background-color: #CDA379;
	border: 1px solid #CDA379;
	color: white;
}
#widget-1bit  .bit_calendar__item_busy {
	color: #fff;
	background-color: #BECCD2;
	cursor: not-allowed;
	pointer-events: none;
}
#widget-1bit  .bit_calendar__item_hidden {
	visibility: hidden;
	cursor: not-allowed;
	pointer-events: none;
}
#widget-1bit  .bit_calendar__months {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#widget-1bit  .bit_calendar__months-selector {
	cursor: pointer;
	user-select: none;
}
#widget-1bit  .bit_calendar__months-selector_back {
	transform: rotate(90deg);
}
#widget-1bit  .bit_calendar__months-selector_next {
	transform: rotate(-90deg);
}

/* time */

#widget-1bit  .bit_time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 20px;
	max-height: 40vh;
	overflow-y: auto;
}
#widget-1bit  .bit_time__item {
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #BECCD2;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
}
#widget-1bit  .bit_time__item:hover, #widget-1bit  .bit_time__item_active {
	background-color: #CDA379;
	border: 1px solid #CDA379;
	color: white;
}
#widget-1bit  .bit_time__text {
	margin-top: 30px;
}

/* personal */
#widget-1bit  .bit_block_personal {
	grid-template-columns: 2fr 1fr;
}
#widget-1bit  .bit_personal__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#widget-1bit  .bit_personal {
	padding: 20px;
}
#widget-1bit  .bit_personal .bit_input-container {
	margin-bottom: 20px;
}
#widget-1bit  .bit_specialist__services .bit_specialist__text {
	padding-bottom: 10px;
	border-bottom: 1px solid #BECCD2;
}

/* confirm */

#widget-1bit  .bit_block_confirm {
	grid-template-columns: 1fr 1fr;
}

/* result */

#widget-1bit  .bit_result .bit_title {
	margin-bottom: 30px;
}
#widget-1bit  .bit_result .bit_text {
	margin-bottom: 50px;
	color: grey;
}
#widget-1bit  .bit_result .bit_btn {
	margin-top: 30px;
}


@media (max-width: 1024px) {
	#widget-1bit  .bit_container {
		width: 700px;
	}

	/* header */
	#widget-1bit  .bit_header {
		grid-template-columns: 4fr 2fr 1fr;
	}
	#widget-1bit  .bit_header__select {
		width: 200px;
	}

	/* script */
	#widget-1bit  .bit_script__item {
		width: 50%;
	}

	/* block */
	#widget-1bit  .bit_block_service, #widget-1bit .bit_specialist, #widget-1bit  .bit_block_calendar, #widget-1bit  .bit_block_personal {
		grid-template-columns: 1fr;
	}

	/* personal */
	#widget-1bit  .bit_personal {
		margin-bottom: 20px;
	}

	/* calendar */
	#widget-1bit  .bit_block__calendar-item {
		margin-bottom: 20px;
	}

	/* confirm */
	#widget-1bit  .bit_block_confirm {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 768px) {
	#widget-1bit  .bit_container {
		width: 100%;
		padding: 0 20px;
	}

	/* header */
	#widget-1bit  .bit_header {
		grid-template-columns: 6fr 1fr;
	}
	#widget-1bit  .bit_header__select {
		grid-row: 2/3;
		margin-top: 20px;
		width: 300px;
	}

	/* script */
	#widget-1bit  .bit_script__list {
		flex-direction: column;
	}
	#widget-1bit  .bit_script__item {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	/* block */
	#widget-1bit  .bit_block__header {
		flex-direction: column;
		align-items: flex-start;
	}
	#widget-1bit  .bit_search-container {
		margin-top: 20px;
		width: 100%;
	}

	

	/* bread */
	#widget-1bit  .bit_bread__item {
		display: none;
	}
	#widget-1bit  .bit_bread__item:nth-last-of-type(-n+1) {
		display: inline;
	}
}

@media (max-width: 450px) {
	#widget-1bit  .bit_container {
		width: 100%;
		padding: 0 20px;
	}
	#widget-1bit  .bit_shadow {
		box-shadow: none;
	}
	#widget-1bit  .bit_title_main  {
		font-size: 1.2rem;
	}
	#widget-1bit  .bit_title_second  {
		font-size: 1rem;
	}
	#widget-1bit  .bit_input-container_checkbox {
		display: flex;
		flex-direction: row-reverse;
		/* align-items: center; */
		justify-content: flex-end;
	}
	#widget-1bit  .bit_input-container_checkbox .bit_input__error {
		text-align: left;
	}

	/* header */
	#widget-1bit  .bit_header-container::after {
		width: 100%;
	}
	#widget-1bit  .bit_header {
		grid-template-columns: 1fr;
	}
	#widget-1bit  .bit_header__title {
		grid-row: 1/1;
		grid-column: 1/6;
	}
	#widget-1bit  .bit_header__exit {
		grid-row: 1/1;
		grid-column: 6/7;
	}
	#widget-1bit  .bit_header__select {
		grid-row: 2/3;
		grid-column: 1/7;
		margin-top: 20px;
		width: 100%;
	}

	/* input */
	#widget-1bit  .bit_input {
		min-width: auto;
	}

	/* btn */
	#widget-1bit  .bit_btn {
		width: 100%;
	}
	#widget-1bit  .bit_form .bit_btn {
		margin-right: 0;
		margin-bottom: 20px;
	}

	/* list */
	#widget-1bit  .bit_list {
		padding: 0;
	}

	/* script */
	#widget-1bit  .bit_script__item {
		border: 1px solid #BECCD2;
	}

	/* personal */
	#widget-1bit  .bit_personal {
		padding: 0;
	}
	#widget-1bit  .bit_specialist__more {
		border: 1px solid #BECCD2;
	}

	/* calendar */
	#widget-1bit  .bit_block__calendar-item {
		padding: 0;
	}
	#widget-1bit  .bit_time {
		grid-template-columns: 1fr 1fr;
	}
}

